<div class="class">
    <h2 class="title-stats">Estatísticas Warriors x Lakers:</h2>
    <div class="container-player-stats">
        <span class="player-stats">Stephen Curry: 27 pts, 6 3PM</span>
        <span class="player-stats">Jordan Poole: 23 pts, 6 3PM</span>
        <span class="player-stats">Kevon Looney: 9 pts, 21 reb</span>
        <span class="player-stats">LeBron James: 22 pts, 11 reb, 4 ast</span>
        <span class="player-stats">Anthony Davis: 30 pts, 23 reb, 5 ast</span>
        <span class="player-stats">D'Angelo Russell: 19 pts, 6 ast</span>
    </div>
</div>